.services {
  padding: 6rem 2rem;
  background-color: var(--bg-white);
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
}

.services-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-gray);
  margin-bottom: 1.5rem;
  text-align: center;
}

.services-subtitle {
  font-size: 1.25rem;
  color: var(--text-gray);
  margin-bottom: 3rem;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.service-card {
  background-color: var(--pure-white);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px var(--primary-shadow-darker);
}

.service-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-gray);
  margin-bottom: 1rem;
}

.service-title:first-of-type {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}

.service-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-list li {
  color: var(--text-gray);
  margin-bottom: 0.75rem;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 1.4;
}

.service-list li::before {
  content: "•";
  color: var(--primary-color);
  font-weight: bold;
  display: inline-block;
  margin-right: 0.5rem;
}

.footnote {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid var(--light-gray);
  color: var(--text-gray);
  font-size: 0.9rem;
}

.footnote p:first-of-type {
  margin-bottom: 0.5rem;
}

.about-section {
  background-color: var(--bg-white);
  padding: 14rem 2rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  max-width: 1000px;
  text-align: center;
}


.about-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-gray);
  margin-bottom: 1.5rem;
  text-align: center;
}

.about-content {
  color: var(--text-gray);
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.about-content p {
  margin-bottom: 1.5rem;
}

.donate-section {
  background-color: var(--bg-white);
  padding: 10rem 2rem 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .services-title {
    font-size: 2.5rem;
  }
  
  .services-grid {
    flex-direction: column;
  }

  .service-card {
    flex: 1 1 100%;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-content {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .service-card:nth-child(3) {
    flex: 1 1 100%;
  }
}